<a href="https://colab.research.google.com/github/GoloushkinE/-/blob/main/%D0%98%D0%BD%D1%82%D0%B5%D0%BD%D1%81%D0%B8%D0%B2_%E2%84%962_%E2%80%93_%D0%BF%D0%B0%D1%81%D1%81%D0%B0%D0%B6%D0%B8%D1%80%D0%BE%D0%BF%D0%BE%D1%82%D0%BE%D0%BA_%D0%B0%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Загрузка данных (+ копирование)

In [70]:
import pandas as pd
data = pd.read_excel('/content/drive/MyDrive/Интенсив 2.0/Урок 2/flights_data.xlsx')

In [71]:
df = data.copy()

## Изучение и предобработка данных
- head()
- shape
- df.info() + задействуем ИИ
- преобразование типов
- пропуски
- дубли

In [72]:
df.head()

,Номер рейса,Авиакомпания,Модель самолёта,Страна,Дата прибытия,Имя пассажира,Тип багажа,Цель поездки,Кол-во дней остановки в стране
0,DA451,WorldAir,Bombardier CRJ900,Перу,2025-01-15,Leon Lopez,Чёрный рюкзак,Учёба,14
1,LX444,AirTravel,Boeing777,США,2025-02-07,Robert Brown,Серая сумка,Посещение друзей,5
2,UH780,TravelCompany,Boeing 737,Турция,2025-01-04,Robert Adams,Красная сумка,Учёба,16
3,LN052,FlyGlobal,Airbus A320,Германия,2025-01-04,Olivia Miller,Красная сумка,Транзит,30
4,OK353,FlyGlobal,Boeing447,Мексика,2025-01-18,Zoe Kerim,Серая сумка,Посещение друзей,9

In [73]:
df.shape

(4732, 9)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4732 entries, 0 to 4731
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Номер рейса                     4732 non-null   object
 1   Авиакомпания                    4732 non-null   object
 2   Модель самолёта                 4732 non-null   object
 3   Страна                          4732 non-null   object
 4   Дата прибытия                   4732 non-null   datetime64[ns]
 5   Имя пассажира                   4732 non-null   object
 6   Тип багажа                      4732 non-null   object
 7   Цель поездки                    4732 non-null   object
 8   Кол-во дней остановки в стране  4732 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 332.8+ KB

In [75]:
# Поиск дубликатов по всем столбцам
duplicates = df[df.duplicated()]

# Вывод дубликатов (опционально)
print("Найдены следующие дубликаты:")
print(duplicates)

Найдены следующие дубликаты:
     Номер рейса Авиакомпания Модель самолёта     Страна Дата прибытия  \
2573       YK037    AeroWorld       Boeing777     Турция    2025-02-01
3844       AB079      FastJet     Airbus A321  Австралия    2025-02-04
3845       AB079      FastJet     Airbus A321  Австралия    2025-02-04
3846       AB079      FastJet     Airbus A321  Австралия    2025-02-04
3847       AB079      FastJet     Airbus A321  Австралия    2025-02-04

      Имя пассажира          Тип багажа      Цель поездки  \
2573   Novak Garcia       Белый чемодан  Посещение друзей
3844   Linda Thomas        Чёрная сумка  Посещение друзей
3845  Robert Walker       Чёрный рюкзак            Работа
3846        Eva Lee        Чёрная сумка           Транзит
3847    Malu Taylor  Коричневый чемодан            Работа

      Кол-во дней остановки в стране
2573                              50
3844                              42
3845                              14
3846                              59
3847                              32

In [76]:
# Удаление дубликатов
df = df.drop_duplicates()

In [77]:
duplicate_count = df.duplicated().sum()
print(f'Количество дубликатов: {duplicate_count}')

Количество дубликатов: 0

In [78]:
df.isna()

,Номер рейса,Авиакомпания,Модель самолёта,Страна,Дата прибытия,Имя пассажира,Тип багажа,Цель поездки,Кол-во дней остановки в стране
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
4727,False,False,False,False,False,False,False,False,False
4728,False,False,False,False,False,False,False,False,False
4729,False,False,False,False,False,False,False,False,False
4730,False,False,False,False,False,False,False,False,False
4731,False,False,False,False,False,False,False,False,False

## Обзорный анализ

In [79]:
# за какой период данные?

In [80]:
# Определение начальной и конечной даты
start_date = df['Дата прибытия'].min()
end_date = df['Дата прибытия'].max()

# Вывод результата
print(f"Данные охватывают период с {start_date} по {end_date}")

Данные охватывают период с 2025-01-01 00:00:00 по 2025-02-28 00:00:00

In [81]:
# уникальное кол-во рейсов

In [82]:
# Подсчет уникального количества рейсов
unique_flights_count = df['Номер рейса'].nunique()

# Вывод результата
print(f"Уникальное количество рейсов: {unique_flights_count}")

Уникальное количество рейсов: 100

In [83]:
# уникальные авиакомпании

In [84]:
# Получение списка уникальных авиакомпаний
unique_airlines = df['Авиакомпания'].unique()

# Вывод списка уникальных авиакомпаний
print("Список уникальных авиакомпаний:")
print(unique_airlines)

Список уникальных авиакомпаний:
['WorldAir' 'AirTravel' 'TravelCompany' 'FlyGlobal' 'FastJet' 'AeroWorld'
 'SkyFly' 'BlueSky' 'StarLine' 'GlobalWings']

In [85]:
# уникальные модели самолетов

In [86]:
# Получение списка уникальных моделей самолетов
unique_aircraft_models = df['Модель самолёта'].unique()

# Вывод списка уникальных моделей самолетов
print("Список уникальных моделей самолетов:")
print(unique_aircraft_models)

Список уникальных моделей самолетов:
['Bombardier CRJ900' 'Boeing777' 'Boeing 737' 'Airbus A320' 'Boeing447'
 'Airbus A330' 'Boeing787' 'Embraer E190' 'Airbus A321']

In [87]:
# ДЗ: уникальные страны
# Получение перечня уникальных стран
unique_countries = df['Страна'].unique()

# Вывод уникальных стран
print("Уникальные страны:")
print(unique_countries)

Уникальные страны:
['Перу' 'США' 'Турция' 'Германия' 'Мексика' 'Австралия' 'Китай' 'Испания'
 'ЮАР' 'ОАЭ' 'Франция' 'Бразилия' 'Япония' 'Финляндия' 'Аргентина'
 'Италия' 'Чили' 'Индия' 'Израиль' 'Канада']

In [88]:
# ДЗ: кол-во уникальных пассажиров
# Нахождение количества уникальных пассажиров
unique_passengers_count = df['Имя пассажира'].nunique()

# Вывод результата
print(f"Количество уникальных пассажиров: {unique_passengers_count}")

Количество уникальных пассажиров: 528

In [89]:
#кол-во пассажиров в разбивке по странам
passengers_by_country = df.groupby('Страна').size().reset_index(name='Количество пассажиров')

# Вывод результата
print(passengers_by_country)

       Страна  Количество пассажиров
0   Австралия                    481
1   Аргентина                    128
2    Бразилия                    355
3    Германия                    194
4     Израиль                     32
5       Индия                     94
6     Испания                    231
7      Италия                     95
8      Канада                     31
9       Китай                    300
10    Мексика                    355
11        ОАЭ                    290
12       Перу                    360
13        США                    193
14     Турция                    332
15  Финляндия                    192
16    Франция                    321
17       Чили                    123
18        ЮАР                    423
19     Япония                    197

In [90]:
# кол-во пассажиров в разбивке по целям поездки
passengers_by_purpose = df.groupby('Цель поездки').size().reset_index(name='Количество пассажиров')

# Вывод результата
print(passengers_by_purpose)

       Цель поездки  Количество пассажиров
0             Отдых                    987
1  Посещение друзей                    943
2            Работа                    946
3           Транзит                    915
4             Учёба                    936

In [91]:
#ДЗ: кол-во уникальных рейсов на каждую модель самолета (для заказа запчастей)
# Группировка по модели самолёта и подсчёт количества уникальных рейсов
unique_flights_by_model = df.groupby('Модель самолёта')['Номер рейса'].nunique().reset_index(name='Количество уникальных рейсов')

# Вывод результата
print(unique_flights_by_model)

     Модель самолёта  Количество уникальных рейсов
0        Airbus A320                            13
1        Airbus A321                             9
2        Airbus A330                             6
3         Boeing 737                            13
4          Boeing447                            14
5          Boeing777                            12
6          Boeing787                            11
7  Bombardier CRJ900                            15
8       Embraer E190                             7

In [92]:
# Изучить "Кол-во дней остановки в стране" методом describe()

days_stay_description = df['Кол-во дней остановки в стране'].describe()
# Вывод результата
print("Описание столбца 'Кол-во дней остановки в стране':")
print(days_stay_description)

Описание столбца 'Кол-во дней остановки в стране':
count    4727.000000
mean       45.139835
std        26.002875
min         1.000000
25%        23.000000
50%        45.000000
75%        68.000000
max        90.000000
Name: Кол-во дней остановки в стране, dtype: float64

## Детальный анализ

In [93]:
# Внешняя разведка: рейсом CU256 2025-01-10 прилетит преступник с "Синяя сумка"
# Нужно установить его имя

# Фильтрация данных по условиям
filtered_data = df[
    (df['Номер рейса'] == 'CU256') &
    (df['Дата прибытия'] == '2025-01-10') &
    (df['Тип багажа'] == 'Синяя сумка')
]

# Проверка, найдены ли данные
if not filtered_data.empty:
    # Извлечение имени преступника
    criminal_name = filtered_data['Имя пассажира'].iloc[0]
    print(f"Имя преступника: {criminal_name}")
else:
    print("Преступник с указанными параметрами не найден.")

Имя преступника: Malu Kerim

In [94]:
# ДЗ:
# В период с 2025-01-15 по 2025-01-17 найти Yakub Novak,
# определить, какой багаж он везёт

# Преобразование столбца 'Дата прибытия' в datetime (если ещё не преобразован)
df['Дата прибытия'] = pd.to_datetime(df['Дата прибытия'])

# Фильтрация данных по имени и периоду
filtered_data = df[
    (df['Имя пассажира'] == 'Yakub Novak') &
    (df['Дата прибытия'] >= '2025-01-15') &
    (df['Дата прибытия'] <= '2025-01-17')
]

# Проверка, найдены ли данные
if not filtered_data.empty:
    # Извлечение информации о багаже
    baggage_type = filtered_data['Тип багажа'].iloc[0]
    print(f"Yakub Novak вёз багаж: {baggage_type}")
else:
    print("Пассажир Yakub Novak не найден в указанный период.")

Yakub Novak вёз багаж: Серебристый дипломат